@charset "UTF-8";
.md-calendar{font-family:"Hiragino Sans GB","WenQuanYi Micro Hei",tahoma,sans-serif;font-size:12px;position:absolute;z-index:1000;left:0;top:0;width:230px;border:1px solid #f9f9f9;border-bottom-color:#ececec;border-top:none;background-color:#fff;text-align:center;box-shadow:0 0 20px 2px rgba(0,0,0,.1);-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none}
.md-calendar .md-calendar-wrapper{margin:0}
.md-calendar .md-calendar-wrapper:before{content:'';position:absolute;top:0;left:0;right:0;height:45px;background-color:#18bbab;outline:1px solid #18bbab}
.md-calendar .md-calendar-table{border-collapse:collapse;width:210px;margin:0 10px 10px;position:relative;overflow:hidden}
.md-calendar .md-calendar-table th,.md-calendar .md-calendar-table td{text-align:center !important}
.md-calendar .md-calendar-thead .md-calendar-header{height:3.8em}
.md-calendar .md-calendar-thead .md-calendar-nav{position:absolute;top:.5em;color:#fff;font-style:normal;display:inline-block;border:none;width:2.5em;height:2.5em;line-height:2.5em;cursor:pointer}
.md-calendar .md-calendar-thead .md-calendar-nav span{display:inline-block;width:100%;height:100%;line-height:2.5em}
.md-calendar .md-calendar-thead .md-calendar-nav:hover span{border-radius:50%;background-color:#15a496}
.md-calendar .md-calendar-thead .curr-date{position:absolute;top:1.2em;color:#fff;font-style:normal;display:block;border:none;left:0;right:0}
.md-calendar .md-calendar-thead .prev-m{left:1em}
.md-calendar .md-calendar-thead .next-m{right:1em}
.md-calendar .md-calendar-thead .md-calendar-week{color:#2bb8aa}
.md-calendar .md-calendar-thead .md-calendar-week th{text-align:center;width:30px;height:30px;padding:0;vertical-align:middle}
.md-calendar .md-calendar-thead .md-calendar-week th:hover{background-color:#eee;cursor:pointer}
.md-calendar .md-calendar-thead .md-calendar-week:after{content:'';position:absolute;left:0;right:0;top:6.2em;border-top:1px solid #f4f4f4}
.md-calendar .md-calendar-tbody{font-family:sans-serif}
.md-calendar .md-calendar-tbody td{width:30px;height:30px;cursor:pointer;padding:0;font-weight:800}
.md-calendar .md-calendar-tbody td span{display:inline-block;width:30px;height:30px;line-height:30px;text-align:center;vertical-align:middle}
.md-calendar .md-calendar-tbody td:hover span{background-color:#18bbab;color:white;border-radius:50%}
.md-calendar .md-calendar-tbody td:hover .no-drop{color:#d3d3d3;border-radius:initial;background-color:initial}
.md-calendar .today,.md-calendar .holiday{color:#f76120;font-weight:normal}
.md-calendar .curr{background-color:#18bbab !important;color:white;border-radius:50%}
.md-calendar .no-drop{color:#d3d3d3;cursor:no-drop}
.md-calendar .md-calendar-time{padding-bottom:1em}
.md-calendar .md-calendar-time input{width:33px;height:20px;margin:.5em;outline:none;text-align:center;border:1px solid #ccc}
.md-calendar .md-calendar-time input:focus{background-color:#f2f2f2}
.md-calendar .md-calendar-btn{background:#2bb8aa;border:none;color:white;padding:.3em .5em;margin:1em;cursor:pointer;outline:none}
.md-calendar .md-calendar-btn:hover{background:#15a496}
.rotate-in-enter{transition:all 0 cubic-bezier(0.175,0.885,0.32,1.275);transition-timing-function:cubic-bezier(0.175,0.885,0.45,1.595);transform:perspective(300px) rotateY(40deg);-ms-transform:perspective(300px) rotateY(40deg);-webkit-transform:perspective(300px) rotateY(40deg);transition-duration:550ms;-webkit-transition-duration:550ms;opacity:0.7}
.rotate-in-enter.rotate-in-enter-active{transform:perspective(300px) rotateY(0deg);-ms-transform:perspective(300px) rotateY(0deg);-webkit-transform:perspective(300px) rotateY(0deg);opacity:1}
.slide-right-enter{transition:all 0 cubic-bezier(0.25,0.46,0.45,0.94);transition-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);transform:translateX(60px);-ms-transform:translateX(60px);-webkit-transform:translateX(60px);transition-duration:250ms;-webkit-transition-duration:250ms;opacity:0}
.slide-right-enter.slide-right-enter-active{transform:translateX(0);-ms-transform:translateX(0);-webkit-transform:translateX(0);opacity:1}
.slide-left-enter{transition:all 0 cubic-bezier(0.25,0.46,0.45,0.94);transition-timing-function:cubic-bezier(0.25,0.46,0.45,0.94);transform:translateX(-60px);-ms-transform:translateX(-60px);-webkit-transform:translateX(-60px);transition-duration:250ms;-webkit-transition-duration:250ms;opacity:0}
.slide-left-enter.slide-left-enter-active{transform:translateX(0);-ms-transform:translateX(0);-webkit-transform:translateX(0);opacity:1}
/**日历**/
.calendar-light-wrapper{position:absolute;top:0;left:0;bottom:0;right:0;width:100%;height:100%;display:flex;flex-direction:column}
.calendar-light-top{background:rgba(61,198,182,0.10);height:2rem;;display:flex;box-sizing:border-box;padding:0.4rem;flex-shrink:0}
.calendar-light-top-txt{font-size:0.43rem;color:#3dc6b6;text-align:left;flex:1;line-height:0.61rem}
.calendar-light-top-txt1{text-align:left}
.calendar-light-top-txt2{text-align:right}
.calendar-light-content{background:#fff;flex-grow:1;overflow:auto;-webkit-overflow-scrolling:touch}
.calendar-light-content-top{display:flex;border-bottom:1px solid #d8d8d8;background:#fff;flex-shrink:0}
.calendar-light-content-top > div{flex:1;text-align:center;height:0.74rem;line-height:0.74rem;color:#3dc6b6}
.calendar-light-content-month-row{display:flex;-align-items:center;color:#333}
.calendar-light-content-month-row:before{content:'';padding-top:14.28%;display:inline-block}
.calendar-light-content-abs{position:absolute;top:0;left:0;bottom:0;right:0;display:flex;align-items:center}
.calendar-light-content-month-row > div{flex:1;text-align:center;box-sizing:border-box;vertical-align:middle;display:flex;align-items:center;justify-content:center;flex-direction:column}
.calendar-light-content h4{font-size:0.45rem;color:#3dc6b6;text-align:left;height:0.9rem;line-height:0.9rem;padding-left:0.4rem}
.calendar-light-content-today{border:1px solid #3dc6b6;border-radius:50%}
.calendar-light-content-today > div{color:#3dc6b6}
.calendar-light-content-txt1{margin-bottom:0.18rem}
.calendar-light-content-txt2{font-size:0.2rem}
.calendar-light-content-active-first{background:#3dc6b6;border-top-left-radius:50%;border-bottom-left-radius:50%}
.calendar-light-content-active-first:before{content:none;display:none}
.calendar-light-content-active-first > div{color:#fff}
.calendar-light-content-active-last{background:#3dc6b6;border-top-right-radius:50%;border-bottom-right-radius:50%}
.calendar-light-content-active-last > div{color:#fff}
.calendar-light-content-active-between{background:#3dc6b6;color:#fff}
.calendar-light-content-disabled{color:#ccc}
.calendar-light-bottom{-position:fixed;bottom:0;left:0;flex-shrink:0;width:100%;
    padding: 0.2rem 0.2rem 0.2rem 0.3rem;
    background:#f0f0f0;z-index:999;height:1.16rem;box-sizing:border-box}
.calendar-light-bottom-btn{position:relative;display:block;padding:0.22rem 0.3rem;border-radius:.04rem;text-align:center;font-size:.32rem;font-weight:700;cursor:pointer;color:#fff;line-height:1;text-decoration:none;background:#3DC6B6;border:1px solid #3DC6B6;transition:all 0.1s ease 0s;transition-property:color,background-color,border-color}
.calendar-light-bottom-btn.disable{background:#e5e5e5;border-color:#D8D8D8;color:#B2B2B2}
/* slide bottom-up animation for mobile */
.single-selector-container{position:absolute;bottom:0;z-index:101;width:100%}
.slide-bottom-up-enter{transform:translateY(100%);-webkit-transform:translateY(100%);transition:transform .2s ease;-webkit-transition:transform .2s ease}
.slide-bottom-up-enter-active{transform:translateY(0);-webkit-transform:translateY(0);transition:transform .2s ease;-webkit-transition:transform .2s ease}
.slide-bottom-up-leave{transform:translateY(0);-webkit-transform:translateY(0);transition:transform .2s ease;-webkit-transition:transform .2s ease}
.slide-bottom-up-leave-active{transform:translateY(100%);-webkit-transform:translateY(100%);transition:transform .2s ease;-webkit-transition:transform .2s ease}
/* slide top-down animation for mobile */
.slide-top-down-enter{transform:translateY(-100%);-webkit-transform:translateY(-100%);transition:transform .3s ease;-webkit-transition:transform .3s ease}
.slide-top-down-enter-active{transform:translateY(0);-webkit-transform:translateY(0);transition:transform .3s ease;-webkit-transition:transform .3s ease}
.slide-top-down-leave{transform:translateY(0);-webkit-transform:translateY(0);transition:transform .3s ease;-webkit-transition:transform .3s ease}
.slide-top-down-leave-active{transform:translateY(-100%);-webkit-transform:translateY(-100%);transition:transform .3s ease;-webkit-transition:transform .3s ease}
/* fade-in animation */
.fade-in-enter{background:rgba(0,0,0,0);transition:background 250ms;-webkit-transition:background 500ms}
.fade-in-enter-active{background:rgba(0,0,0,0.4);transition:background 250ms;-webkit-transition:background 500ms}
.fade-in-leave{background:rgba(0,0,0,0.4);transition:background 250ms;-webkit-transition:background 500ms}
.fade-in-leave-active{background:rgba(0,0,0,0);transition:background 250ms;-webkit-transition:background 500ms}
/* mcalendar component css */
.calendar-light-bottom .btn{position:relative;display:block;margin:0;border:none;border-radius:0;padding:3.52px 4.8px;padding:0.22rem 0.3rem;text-align:center;font-size:5.12px;font-size:.32rem;font-weight:700;cursor:pointer;color:#fff;line-height:1;text-decoration:none;background:#3DC6B6;transition:all 0.1s ease 0s;-webkit-transition:all 0.1s ease 0s;transition-property:color,background-color,border-color;-webkit-transition-property:color,background-color,border-color}
/* md.calendar component css */
.md-calendar{width:100%}
.md-calendar .md-calendar-thead .curr-date{top:1.8em}
/* viewImage component css */
.modal-layer{position:fixed;left:0;top:0;right:0;bottom:0;background:rgba(0,0,0,.2)}
.biu-modal{position:fixed;left:50%;top:50%;width:96px;width:6rem;min-height:32px;min-height:2rem;margin:-16px 0 0 -48px;margin:-1rem 0 0 -3rem;background:#fff;border-radius:.06rem}
.biu-modal .modal-header{position:relative;background:#f7f7f7;border-radius:.06rem .06rem 0 0}
.biu-modal .modal-header h4{color:#4c4c4c;height:12.8px;height:.8rem;line-height:12.8px;line-height:.8rem;padding:0 3.2px;padding:0 .2rem;font-weight:normal;font-size:4.48px;font-size:.28rem}
.biu-modal .modal-header .fa-close{position:absolute;right:3.2px;right:.2rem;top:3.84px;top:.24rem;color:#999;font-weight:100;transition:-webkit-transform .3s;-webkit-transition:-webkit-transform .3s;transition:transform .3s;transition:transform .3s,-webkit-transform .3s}
.biu-modal .modal-header .fa-close:hover{-webkit-transform:scale(1.1) rotate(90deg);transform:scale(1.1) rotate(90deg)}
.biu-modal .modal-cont{min-height:16px;min-height:1rem;padding:1.6px 3.2px;padding:.1rem .2rem;color:#4c4c4c}
.biu-modal .modal-footer{text-align:center;padding:3.2px 0;padding:.2rem 0}
.biu-modal .modal-footer .btn{margin:0 3.2px;margin:0 .2rem}
.image-view-wrapper{position:absolute;width:980px;height:520px;margin-top:-260px;margin-left:-490px}
.image-view-wrapper .left{background:#000;height:100%;color:#999;width:820px;display:inline-block;position:relative}
.image-view-wrapper .left .action{display:inline-block;width:100px;height:100%;text-align:center;line-height:520px}
.image-view-wrapper .left .action i{display:inline-block;cursor:pointer}
.image-view-wrapper .left .action i:hover{color:#eee}
.image-view-wrapper .left .previous{float:left}
.image-view-wrapper .left .next{float:right}
.image-view-wrapper .left .content-wrapper{height:100%;display:inline-block;padding:27px 0;line-height:500px}
.image-view-wrapper .left .content-wrapper .image-wrapper{width:620px;height:465px;border:none}
.image-view-wrapper .left .content-wrapper .image-wrapper .errorDiv{width:100%;height:100%;text-align:center;background:#f9f9f9}
.image-view-wrapper .left .content-wrapper .image-wrapper .errorDiv:before{content:'\672A\4E0A\4F20\56FE\7247'}
.image-view-wrapper .right{text-align:center;line-height:20px;height:100%;width:160px;display:inline-block;vertical-align:top}
.image-view-wrapper .right .title{font-size:18px;color:#5a7892;display:inline-block;margin:20px 0}
.image-view-wrapper .right .thumbnail-list{font-size:14px;color:#666;overflow:auto;height:460px}
.image-view-wrapper .right .thumbnail-list li{margin-bottom:20px}
.image-view-wrapper .right .thumbnail-list li .image-wrapper{width:120px;height:90px;margin:0 auto;border:4px solid #fff;pointer:cursor}
.image-view-wrapper .right .thumbnail-list li .image-wrapper .errorDiv{width:100%;height:100%;background:#f9f9f9;border:1px dashed #e7e7e7}
.image-view-wrapper .right .thumbnail-list li input[type="radio"]:checked + .image-wrapper{border-color:#3dc6b6}
.image-view-wrapper .right .thumbnail-list li input[type="radio"]:checked + .image-wrapper .errorDiv{border:none}
.image-view-wrapper .right .thumbnail-list .description{display:inline-block;margin-bottom:10px}
.rc-upload{outline:none}
/* reactCssTransition 动画 */
.bounceIn-enter{-webkit-transform:scale(0.2,0.2);transform:scale(0.2,0.2);opacity:0}
.bounceIn-enter-active{-webkit-transform:scale(1,1);transform:scale(1,1);opacity:1;-webkit-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out}
.bounceIn-leave{-webkit-transform:scale(1,1);transform:scale(1,1);opacity:1}
.bounceIn-leave-active{-webkit-transform:scale(0.2,0.2);transform:scale(0.2,0.2);opacity:0;-webkit-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out}
.maskIn-enter{opacity:0;-webkit-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out}
.maskIn-enter-active{opacity:1}
.maskIn-leave{opacity:1;-webkit-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out}
.maskIn-leave-active{opacity:0}
.datepicker.ios .datepicker-navbar-btn{color:#20bba9 !important}
.datepicker-modal{background-color:rgba(0,0,0,.4)}
.test{background:yellow}