@charset "UTF-8";
/*---------- Portal 门户 ----------*/
.portal{}

/*history*/
.history{background:url(../images/timeline/line04.gif) repeat-y 187px 0;overflow:hidden;position:relative}
.history-date{overflow:hidden}
.history-date h2{background:url(../images/timeline/icon06.gif) #fff no-repeat 158px 0;height:59px;font-size:25px;font-weight:normal;padding-left:45px;margin-bottom:74px}
.history-date h2.first{position:absolute;left:0;top:0;width:935px;z-index:99}
.history-date h2 a{color:#00bbff;display:inline-block;*display:inline;background:url(../images/timeline/icon08.gif) no-repeat right 50%;padding-right:17px;margin:21px 97px 0 0}
.history-date h2 a:hover{text-decoration:none}
.history-date h2 img{vertical-align:-5px}
.history-date h2.date02{background:none}
.history-date ul{}
.history-date ul li{background:url(../images/timeline/icon07.gif) no-repeat 180px 0;padding-bottom:50px}
.history-date ul li.last{padding-bottom:0}
.history-date ul li:after{content:" ";display:block;height:0;clear:both;visibility:hidden}
.history-date ul li h3{float:left;width:168px;text-align:right;padding-right:19px;color:#c3c3c3;font:normal 18px/16px Arial}
.history-date ul li h3 span{display:block;color:#d0d0d0;font-size:12px}
.history-date ul li dl{float:left;padding-left:41px;margin-top:-5px}
.history-date ul li dl dt{font-size:18px;color:#737373}
.history-date ul li dl dt span{display:block;color:#787878;font-size:12px}
.history-date ul li.green h3{color:#1db702}
.history-date ul li.green h3 span{color:#a8dda3}
.history-date ul li.green dl{margin-top:-8px}
.history-date ul li.green dl dt{font-size:26px;line-height:28px}
.history-date ul li.green dl dt a{ /*background:url(../images/timeline/icon09.gif) no-repeat 0 0;width:19px;height:16px;*/ display:inline-block;*display:inline;overflow:hidden;vertical-align:middle;margin-left:12px}
.history-date ul li.green dl dd{padding-top:20px;display:none}
.history-date ul li.green dl dd img{float:left}
.history-date ul li.green dl dd p{overflow:hidden;line-height:21px;color:#787878}
.history-date h2.first .more-history{font-size:16px;background:transparent;margin-left:30px}
.history-date h2.first .more-history:hover{text-decoration:underline}
.history-date ul li dl dt{_font-size:12px !important;_font-weight:bold}
.history-date ul li dl dt span{_font-weight:normal !important}
.history-date ul li.green dl dt a{background:transparent;font-size:12px;font-weight:normal}
.mobile{max-width:800px;margin:0 auto}
.mobile .aliceware{text-align:center}
.mobile .banner{background:antiquewhite}

/*----------	Index special	----------*/
.index-area{width:100%;padding:2rem 0;background:#D7D7D8;text-align:center}
.index-area a{width:calc(25% - 3px);max-width:320px;height:100%;max-height:80px;overflow:hidden;display:inline-block}
.index-area a:hover{background:#ccc}
.index-area p{font-size:0.5rem}

/*----------	Index-plan	----------*/
.index-plan{width:100%;padding:30px 0;background:rgba(55, 61, 65, 0.9)}
.index-plan .title{width:100%;padding-bottom:1rem;text-align:center;font-size:1.5rem;color:#fff}
.index-plan ul{width:100%;max-width:1200px;min-width:320px;margin:0 auto;text-align:center;overflow:hidden}
.index-plan li{max-width:270px;min-width:240px;height:300px;padding:1rem;margin:0.5rem;border:1px solid #dedede;text-align:center;display:inline-block;vertical-align:middle;-opacity:0.7}
.index-plan li:hover{background:#00a2ca;opacity:1}
.index-plan li a{width:100%;height:100%;display:block}
.index-plan li img{width:70px;height:68px;margin:10px auto;display:block}
.index-plan li h3{color:#fff;font-size:16px;line-height:50px}
.index-plan li p{line-height:4rem;color:#fff}
.index-plan li .item-link{width:100%;max-width:9rem;line-height:2.3rem;margin:0 auto;font-size:14px;color:#fff;border:1px solid #fff;border-radius:20px;-webkit-transition:all .5s;display:none}
.index-plan li a:hover > span{display:block}

/*----------	Reg-free	----------*/
.reg-free{height:450px;padding:100px 0;color:#fff;transition:background-position 0.3s linear;background-size:1920px 650px;
    background: url("../images/free-bg.jpg") no-repeat top center;
}
.reg-free-inner{width:100%;max-width:500px;min-width:320px;margin:0 auto}
.reg-free-inner .title{font-size:30px;font-weight:400;margin-bottom:10px;color:#fff}
.reg-free-inner .des-text{font-size:1rem;line-height:1.5em}
.reg-free-inner .qc-btn{width:180px;height:45px;line-height:45px;margin-top:35px;padding:0 20px;font-size:18px;color:#fff;text-align:center;vertical-align:middle;overflow:visible;cursor:pointer;border:1px solid #fff;border-radius:2px;transition:background-color .15s;display:inline-block;-webkit-transition:all .5s}
.reg-free-inner .qc-btn:hover{border-color:#2277da;color:#2277da}
.hasTopbar{padding-top:50px}
.hasSidebar{padding-left:50px}
.sidebar-full{padding-left:180px}
.portal .catalog{margin:0 1rem;border:1px solid gray}
.portal-head{width:100%;padding:10px;border-bottom:1px solid gray}
.portal .inner{padding:10px}
.portal .inner li{line-height:30px;margin:3px auto}
.portal .inner .top-level:hover{background:blue}
.portal .inner .nav-item:hover{background:blue}
.catalog span{margin:0 10px;display:inline-block}
.catalog .arrow{width:20px}
.catalog .sort{width:30px}
.catalog .sort input{width:100%;text-align:center;text-indent:0}
.catalog .title{width:200px}
.catalog .allow{width:80px;text-align:center}
.catalog .state{width:80px;text-align:center}
.catalog .manage{width:350px}
.catalog .preview{width:50px;display:inline-block}
.catalog span a.preview{width:18px;height:18px;display:block;margin:0 auto}
.catalog i{width:18px;height:18px;margin:0 5px;display:inline-block}
.sidebar-trans{display:none}
.portal .portal-foot{width:100%;padding:10px;border-top:1px solid gray}
.sidebar .sidebar-content{-width:180px;height:100%;overflow:auto;overflow-x:hidden;overflow-y:hidden}
.sidebar .sidebar-trans{-o-transition:max-height .12s ease;-ms-transition:max-height .12s ease;-moz-transition:max-height .12s ease;-webkit-transition:max-height .12s ease}
.sidebar .sidebar-fold{height:30px;width:100%;background:#4a5064;color:#aeb9c2;text-align:center;line-height:30px !important;font-size:12px;-ms-user-select:none;user-select:none;cursor:pointer;-webkit-user-select:none;-moz-user-select:none}
.sidebar .sidebar-fold:hover{background:#4a5064;color:#fff}
.sidebar .sidebar-inner{position:relative}
.sidebar .sidebar-nav{width:100%;overflow-x:hidden;overflow-y:auto}
.sidebar .sidebar-nav ul{width:200px;margin:0;padding:0;list-style:none;overflow-y:scroll;overflow-x:hidden}
.sidebar .sidebar-nav li a{display:block;width:180px;height:40px;line-height:40px;overflow:hidden}
.sidebar .sidebar-nav li a:hover{background:#4a5064}
.sidebar .sidebar-nav li a:hover .nav-icon, .sidebar .sidebar-nav li a:hover .nav-title{color:#fff}
.sidebar .sidebar-nav .nav-item{position:relative}
.sidebar .sidebar-nav .nav-comment{background:#2d3945;color:#ccc;height:26px;margin-left:8px;line-height:26px;padding:0 7px;vertical-align:middle;position:relative;display:none}
.sidebar .sidebar-nav .nav-comment .icon-arrow-left{position:absolute;left:-14px;line-height:26px;font-size:24px;color:#2d3945}
.sidebar .sidebar-nav .nav-tooltip-comment{color:#ccc}
.sidebar .sidebar-nav .sidebar-title{height:40px;background:#42485b;color:#fff;line-height:40px;position:relative;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;overflow:hidden}
.sidebar .sidebar-nav .sidebar-title:hover{background:#00c1de}
.sidebar .sidebar-nav .sidebar-title:hover .sidebar-manage{display:block;color:#fff}
.sidebar .sidebar-nav .sidebar-title-icon{display:inline-block;margin:0 8px 0 20px;vertical-align:middle;transition:-webkit-transform .12s;transition:transform .12s;transition:transform .12s, -webkit-transform .12s;-o-transition:-o-transform .12s;-ms-transition:-ms-transform .12s;-moz-transition:-moz-transform .12s;-webkit-transition:-webkit-transform .12s}
.sidebar .sidebar-nav-active .sidebar-title-icon{vertical-align:text-top;-webkit-transform:rotate(90deg);transform:rotate(90deg)}
.sidebar .sidebar-manage{vertical-align:middle;position:absolute;height:40px;width:40px;right:0;top:0;display:none}
.sidebar .sidebar-manage a{display:block;width:100%;height:100%;text-align:center;line-height:40px;font-size:16px;color:#fff;text-decoration:none}
.sidebar .sidebar-nav-fold ul{height:0 !important;overflow:hidden}
.sidebar .sidebar-nav-fold .sidebar-title-icon{transform:rotate(-90deg);-webkit-transform:rotate(-90deg);-moz-transform:rotate(-90deg);-ms-transform:rotate(-90deg);-o-transform:rotate(-90deg)}
.sidebar .sidebar-nav-fold .sidebar-title{background:#37424f;border-bottom:1px solid #414d5c}
.sidebar .sidebar-nav .nav-item:hover .nav-comment{display:inline-block}
.sidebar .entrance-nav .nav-comment{margin-left:10px}
.sidebar .sidebar-nav .nav-icon{width:50px;text-align:center;font-size:16px;float:left;color:#aeb9c2}
.sidebar .sidebar-nav .nav-title{float:left;overflow:hidden;color:#fff;white-space:nowrap;text-overflow:ellipsis;display:block;width:130px}
.sidebar .entrance-nav .nav-title{width:auto}
.sidebar .sidebar-nav li.consolehome .nav-tooltip{top:15px;line-height:40px}
.sidebar .sidebar-nav li.consolehome a{height:70px;line-height:70px;background:#293038}
.sidebar .sidebar-nav li.consolehome a .nav-icon{font-size:20px}
.sidebar .sidebar-nav li.consolehome.active a{background:#293038}
.sidebar .sidebar-nav li.active a{background:#00c1de;transition:none;-webkit-transition:none}
.sidebar .sidebar-nav li.active a .nav-icon, .sidebar .sidebar-nav li.active a .nav-title{color:#fff}
.sidebar .sidebar-nav .manage-nav{height:30px;overflow:hidden}
.sidebar .sidebar-nav .manage-nav:hover .nav-icon{color:#fff}
.sidebar .sidebar-nav .manage-nav a{display:block;height:100%}
.sidebar .sidebar-nav .manage-nav .nav-icon{height:100%;line-height:30px;font-size:16px}
.sidebar .sidebar-nav .manage-nav .nav-title{margin-top:14px;background:#293038;height:1px;width:120px}
.sidebar .sidebar-nav .more-nav{display:block;width:100%;height:40px;line-height:40px;position:relative}
.sidebar .sidebar-nav .more-nav.open .more-nav-switch{background:#09c}
.sidebar .sidebar-nav .more-nav.open .more-nav-switch .nav-icon, .sidebar .sidebar-nav .more-nav.open .more-nav-switch .nav-title{color:#fff}
.sidebar .sidebar-nav .more-nav.open .more-nav-switch:hover{background:#09c}
.sidebar .sidebar-nav .more-nav.open .icon-up{display:none}
.sidebar .sidebar-nav .more-nav .icon-up, .sidebar .sidebar-nav .more-nav.open .icon-down{display:inline-block}
.sidebar .sidebar-nav .more-nav .icon-down{display:none}
.sidebar .sidebar-nav .more-nav .more-nav-switch{display:block;width:100%;height:40px;line-height:40px}
.sidebar .sidebar-nav .more-nav .more-nav-switch:hover{background:#425160}
.sidebar .sidebar-nav .more-nav .more-nav-switch:hover .nav-icon, .sidebar .sidebar-nav .more-nav .more-nav-switch:hover .nav-title{color:#fff}
.sidebar .sidebar-nav .more-nav .more-nav-container{background:#425160;position:absolute;bottom:40px;top:auto;border:none;border-radius:0 0;-webkit-box-shadow:none;box-shadow:none;margin:0;width:100%}
.sidebar .sidebar-nav .more-nav .more-nav-container a{color:#fff;text-decoration:none}
.sidebar .sidebar-nav .more-nav .more-nav-container .more-nav-item{display:block;height:40px;line-height:40px}
.sidebar .sidebar-nav .more-nav .more-nav-container .more-nav-item:hover{background:#3a4856}
.sidebar .sidebar-nav .more-nav .more-nav-container .more-nav-item:hover .more-nav-item-icon{color:#aeb9c2}
.sidebar .sidebar-nav .more-nav .more-nav-container .more-nav-item-icon{width:50px;display:inline-block;vertical-align:text-top;text-align:center;color:#546478}
.sidebar .sidebar-nav .more-nav .more-nav-container .more-nav-item.active{background:#2d3945}
.sidebar .sidebar-nav .more-nav .more-nav-container .more-nav-item.active .more-nav-item-icon{color:#09c}
.sidebar .sidebar-nav .more-nav .more-nav-close{height:20px;background:#09c;text-align:right;line-height:20px;cursor:pointer}
.sidebar .sidebar-nav .more-nav .more-nav-close .icon-down{text-align:left;width:32px;display:inline-block;color:#80cce6;vertical-align:middle}
.console-component-sidebar-dialog-wrap .modal-content{border:none}
.console-component-sidebar-dialog-wrap .modal-dialog{width:900px}
.console-component-sidebar-dialog-wrap .ellipsis{width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-block}
.console-component-sidebar-dialog{overflow:hidden;height:480px;position:relative;width:900px}
.console-component-sidebar-dialog .selected-part{width:180px;height:100%;float:left;background:#293038;position:relative}
.console-component-sidebar-dialog .selected-part .selected-title{background:#394555;height:40px;line-height:40px;padding:0 16px;color:#fff}
.console-component-sidebar-dialog .selected-part .selected-list{height:400px;overflow-x:hidden;overflow-y:scroll;margin:0;padding:0;width:200px}
.console-component-sidebar-dialog .selected-part .selected-item{height:40px;line-height:40px;padding:0 16px;border:1px solid #293038;color:#aeb9c2;position:relative}
.console-component-sidebar-dialog .selected-part .selected-item:hover{background:#414d5c !important;border:1px dashed #69788c;color:#fff}
.console-component-sidebar-dialog .selected-part .selected-item:hover .selected-item-close{display:block}
.console-component-sidebar-dialog .selected-part .selected-item:nth-child(odd){background:#2c343e}
.console-component-sidebar-dialog .selected-part .selected-item-name{width:100%;display:inline-block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.console-component-sidebar-dialog .selected-part .selected-item-close{width:38px;height:38px;line-height:38px;text-align:center;font-size:18px;color:#fff;display:none;position:absolute;right:0;top:0;cursor:pointer}
.console-component-sidebar-dialog .selected-part .selected-item-confirm{height:40px;line-height:40px;text-align:center;background:#00c1de;color:#fff;font-size:14px;position:absolute;left:0;bottom:0;cursor:pointer;width:180px}
.console-component-sidebar-dialog .selected-part .selected-item-confirm:hover{background:#33cde5}
.console-component-sidebar-dialog .selected-part .drag-btn{position:absolute;left:0;top:0;height:38px;width:10px;color:#fff;line-height:38px;text-align:center}
.console-component-sidebar-dialog .all-part{float:left;position:relative;height:100%;background:#eaeaea}
.console-component-sidebar-dialog .all-part .all-category{display:inline-block;vertical-align:top;width:180px}
.console-component-sidebar-dialog .all-part .all-category-title{background:#e3e3e3;height:40px;line-height:40px;padding:0 16px;color:#666}
.console-component-sidebar-dialog .all-part .all-category-item{height:40px;line-height:40px;padding:0 16px;color:#333;background:#eaeaea}
.console-component-sidebar-dialog .all-part .all-category-item.active, .console-component-sidebar-dialog .all-part .all-category-item:hover{background:#f7f7f7}
.console-component-sidebar-dialog .all-part .category-product{position:absolute;width:540px;left:180px;top:0;padding:40px 10px;background:#f7f7f7;height:100%;overflow:hidden}
.console-component-sidebar-dialog .all-part .category-product .category-product-col{width:250px;float:left}
.console-component-sidebar-dialog .all-part .category-product .category-product-item{height:40px;width:240px;margin:2px 10px;border:1px solid #f7f7f7;padding-left:10px;position:relative;cursor:pointer}
.console-component-sidebar-dialog .all-part .category-product .category-product-item:hover{background:#f1f1f1;border:1px dashed #ccc}
.console-component-sidebar-dialog .all-part .category-product .category-product-item:hover .mark-add{display:block}
.console-component-sidebar-dialog .all-part .category-product .category-product-item:hover .mark-yes{display:none}
.console-component-sidebar-dialog .all-part .category-product .category-product-item.selected{background:#edf2f4;border:1px solid #7bc8e1;cursor:pointer}
.console-component-sidebar-dialog .all-part .category-product .category-product-item.selected .mark-add{display:none}
.console-component-sidebar-dialog .all-part .category-product .category-product-item.selected .mark-yes{display:block}
.console-component-sidebar-dialog .all-part .category-product .category-product-item-mark{position:absolute;top:0;right:0;height:38px;width:38px;text-align:center;line-height:38px;font-size:18px;display:none}
.console-component-sidebar-dialog .all-part .category-product .mark-add{color:#999}
.console-component-sidebar-dialog .all-part .category-product .mark-yes{color:#09c}
.console-component-sidebar-dialog .close-btn{position:absolute;height:40px;width:40px;line-height:40px;text-align:center;font-size:20px;color:#aaa;right:0;cursor:pointer}

/*----------	其它 Other	----------*/
.footer-appbar{display:block}
.protocol{padding:0}
.protocol .preview{border:none;border-radius:0}
.navs-wrap{padding:1rem}
.navs-wrap a{padding:10px 20px;font-size:.5rem}

/*----------	友情链接	----------*/
.friendlink{height:70px;line-height:70px;margin:20px 0;padding:0 0 0 120px;font-size:16px}
.friendlink a{padding:0 20px;line-height:50px}
.addlink-wrap a:hover{text-decoration:none}
.addlink-wrap .box .fLinkList li a:hover, .addlink-wrap .box .stepList .stepItem .infoBox .des .mail:hover{text-decoration:underline}
.addlink-wrap li, .addlink-wrap ul{list-style:none}
.addlink-wrap .box{width:780px;margin:0 auto;padding-top:72px}
.addlink-wrap .box .topText{height:16px;font-size:14px;color:#a9aaba;line-height:16px;margin-bottom:28px;overflow:hidden}
.addlink-wrap .box .stepList .stepItem .title{font-size:24px;color:#373d41}
.addlink-wrap .box .stepList .stepItem .title .num{font-size:12px;width:24px;height:24px;border-radius:50%;background:#00c1de;color:#fff;display:inline-block;text-align:center;line-height:24px;vertical-align:text-top;margin-right:18px;border:1px solid #00c1de}
.addlink-wrap .box .stepList .stepItem .infoBox{border-left:2px solid #00c1de;margin:5px 0 5px 12px;font-size:14px;color:#333;padding:0 0 40px 34px}
.addlink-wrap .box .stepList .stepItem .infoBox .des{font-size:14px;line-height:28px;padding-top:16px}
.addlink-wrap .box .stepList .stepItem .infoBox .des .mail{color:#00c1de}
.addlink-wrap .box .stepList .stepItem .infoBox .code{margin-bottom:22px}
.addlink-wrap .box .stepList .stepItem .infoBox .code .textCode{width:500px;height:32px;padding:0 12px;line-height:32px}
.addlink-wrap .box .stepList .stepItem .infoBox .code .button{width:70px;height:30px;display:inline-block;border:1px solid #00c1de;line-height:30px;text-align:center;font-size:14px;color:#00c1de;cursor:pointer;margin-left:10px;-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s}
.addlink-wrap .box .stepList .stepItem .infoBox .code .button:hover{background:#00c1de;color:#fff}
.addlink-wrap .box .stepList .stepItem .infoBox .code .successful, .addlink-wrap .box .stepList .stepItem .infoBox .code .successful:hover{background:#ebebeb;color:#cbcbcb;border:1px solid #ebebeb}
.addlink-wrap .box .stepList .stepItem .infoBox #clipboardText{font-size:12pt;border:0;padding:0;margin:0;position:absolute;left:-9999px}
.addlink-wrap .box .stepList .stepItem .last{border:0}
.addlink-wrap .box .stepList .stepItem.step0 .des{font-size:12px}
.addlink-wrap .box .flink{font-size:24px;color:#333}
.addlink-wrap .box .fLinkList{overflow:hidden;margin-top:15px;padding-bottom:60px}
.addlink-wrap .box .fLinkList li{float:left;margin-top:15px}
.addlink-wrap .box .fLinkList li a{display:block;font-size:14px;color:#00c1de;border-right:2px solid #e1e5e6;padding:0 4px}
.copyCode{background:#ebebeb;color:#cbcbcb;border:1px solid #ebebeb}
.test{background:blue}