@charset "UTF-8";
/**********************************************************************************
* |	I Home PHP	&	Home PHP	(C) Zong Inc. Created & Modified by Zong.	| *
* +----------------------------------------------------------------------------+ *
* |	Copyright © 2012-2017 Zong Inc. All Rights Reserved						| *
* +----------------------------------------------------------------------------+ *
* |	Website:( http://www.zongdongyang.com.cn )								| *
* +----------------------------------------------------------------------------+ *
* |	Author:Zong <zongdongyang@126.com>										+ *
* +----------------------------------------------------------------------------+ *
* |	$Date:2015-10-12 10:00:00 $ 											| *
* ********************************************************************************/

.tree-container{width:280px;margin:0 20px;padding-bottom:20px;border-radius:6px;box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.1);border:1px solid #e7ecf1;overflow:auto;}
@media screen and (max-width:640px){
    .tree-container{width:100vw;margin:1rem auto;z-index:100;float:none !important}
}
@media screen and (min-width:640px) and (max-width:768px){
    .tree-container{width:160px;margin:0 5px;z-index:100;}
    .tree-container:hover{-width:280px;}
    .treeview .tree-item{padding-left:5px !important;padding-right:5px !important;white-space:nowrap !important;overflow:hidden;}
}
@media screen  and (min-width:768px)and (max-width:1024px){
    .tree-container{width:200px;margin:0 10px;}
}

.tree-title{height:50px;padding:20px 15px 10px;color:#5C9ACF;font-size:13px;font-weight:600;}
.treeview{list-style:none;-display:none;padding:0;margin:0;}
.treeview .tree-item{line-height:3rem;padding:0 10px;position:relative;text-decoration:none;border-left:3px solid transparent;border-bottom:1px solid ghostwhite;
    font-size:14px;font-weight:400;color:#485a6a;cursor:pointer;
    display:block;display:-webkit-box;display:-webkit-flex;display:flex;flex-direction:row;flex-wrap:wrap;
    -webkit-box-align:center;-webkit-align-items:center;align-items:center;align-self:center;-webkit-justify-content:center;justify-content:center;}
.treeview .tree-item[data-node="root"]{padding-left:15px;padding-top:6px;margin:1px 0 0;color:#485a6a;color:#337ab7;color:#0e90d2;}
.treeview .tree-item[data-node="main"]{padding-left:10px;display:none}
.treeview .tree-item[data-node="sub"]{padding-left:25px;display:none}
.treeview .tree-item[data-node="aux"]{padding-left:45px;display:none}
.treeview .tree-item:nth-of-type(odd){-background:#f2f6f9;}
.treeview .tree-item:nth-of-type(even){-background:#f2f6f9;}
.treeview .tree-item:nth-child(2n+1){-background:#f2f6f9;}
.treeview .tree-item:hover,
.treeview .tree-item.active{background:#f2f6f9 !important;color:#5b9bd1;color:#5C9ACF;border-left-color:#5C9ACF;opacity:.9;}
.treeview .tree-item.active span,
.treeview .tree-item.active i{color:#5b9bd1;}
.treeview .tree-item .tree-icon{line-height:1rem;display:-webkit-inline-box;text-shadow:none;font-weight:300;color:#a7bdcd;}
.treeview .tree-left-more-icon{-webkit-transition:all 300ms;transition:all 300ms;font-size:16px !important;}
.treeview .tree-left-more-icon-rotate{-webkit-transform:rotate(90deg);transform:rotate(90deg);-webkit-transition:all 300ms;transition:all 300ms;}
.treeview .tree-item .tree-icon-left{}
.treeview .tree-item span.tree-content-bd{-webkit-box-flex:3;-webkit-flex:3;flex:3;-webkit-box-align:start;-webkit-align-items:flex-start;align-items:flex-start;font-size:14px;font-weight:400;}
.treeview .tree-item .tree-icon-right{text-align:right;color:#999;}
.treeview .tree-item-left-icon{font-size:14px !important;position:relative;top:8px !important;color:#ffbe40 !important;}
.treeview .tree-item-left-content{color:#fff !important;font-size:12px !important;}
